$font--size: 17px;

$pclist-box--width: 1000px;

$Listblock-box--height: 70px;
$Listblock-sale--color : #ff8f27;
$Listblock-sale--wh : 20px;

$button-box--width : 20px;
$button-box--height : 45px;
$button-box--radius : 5px;


@import "../../../../../libary/rule_rwd.sass"


*
    box-sizing: border-box
    font-size: $font--size
    user-select: none 
    table 
        width: 100%
        +phone
            transition-duration: 0.16s

body 
    // background-color: #e3e3e3
    .pclist
        width: $pclist-box--width
        +phone
            width: 100%
            
        height: fit-content
        display: grid
        grid-template-columns: 1fr 7fr
        // overflow: hidden
        
        div.title
            div
                position: relative
                height: $Listblock-box--height
                background-color: #f1f1f1
                border-bottom: 1px solid #e1e2e4
                border-right: 1px solid #e1e2e4
                +flexcc
                &:nth-child(1)
                    background-color: #eaedf2
                    span
                        position: absolute
                        padding: 5px
                        &:nth-child(1)
                            top: 0
                            right: 0
                        &:nth-child(2)
                            bottom: 0
                            left: 0
            
        div.table
            // overflow-x: scroll
            position: relative
            overflow: hidden
            table
                position: absolute
                // left: -100%

            &:hover>.TB
                opacity: 1

            .TB
                visibility: hidden
                +phone
                    visibility: visible

                position: absolute
                background-color: hsla(0,0%,67%,1)
                top: 50%
                height: $button-box--height
                width: $button-box--width
                opacity: 0.54
                color: #ffffff
                font-weight: 1000

            .R_B
                right: 1px

            .L_B
                left: 0px

            .Listblock
                position: relative
                display: -webkit-box
                width: 100%
                
                >div
                    position: relative
                    height: $Listblock-box--height
                    border-bottom: 1px solid #e1e2e4
                    border-right: 1px solid #e1e2e4
                    +flexcc
        th 
            padding: 0%
            >.Listblock
                >div
                    background-color: #eaedf2
                    font-weight: normal

        
        b
            font-size: $font--size - 2px
            font-weight: normal
            color: #24a07c
            float: right    
        
        td
            >.Listblock
                >div
                    background-color: #ffffff
                    cursor: pointer
                    p
                        color: #999999
                        display: inline

                    &.col_row
                        background-color: #f5f5f5

                    &.sale:before
                        content: ""
                        position: absolute
                        width: 0
                        height: 0
                        border-color: $Listblock-sale--color transparent transparent
                        border-style: solid
                        border-width: $Listblock-sale--wh $Listblock-sale--wh 0 0
                        top: 0px
                        left: 0px

                    &.sale:after
                        content: attr(data-title)
                        position: absolute
                        top: 0px
                        left: $Listblock-sale--wh
                        height: $Listblock-sale--wh
                        color: $Listblock-sale--color
                        font-size: $font--size - 3px
                        font-weight: 400
                        +flexcc

                    &:hover,&.select
                        background-color: #fff9e3
                        border: 1px solid #ff8f27 
        th,td 
            ransition-duration: 0s
            

