* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none !important;
}

body {
  margin: 0;
}

table {
  border-spacing: 0px;
}

button, p, table, tr, td {
  padding: 0px;
  border: 0px;
  margin: 0px;
}

button {
  cursor: pointer;
}

[v-cloak] {
  display: none !important;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 17px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

* table {
  width: 100%;
}

@media screen and (max-width: 980px) {
  * table {
    -webkit-transition-duration: 0.16s;
            transition-duration: 0.16s;
  }
}

body .pclist {
  width: 1000px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80px auto;
      grid-template-columns: 80px auto;
}

@media screen and (max-width: 980px) {
  body .pclist {
    width: 100%;
  }
}

body .pclist div.title div {
  position: relative;
  height: 70px;
  background-color: #f1f1f1;
  border-bottom: 1px solid #e1e2e4;
  border-right: 1px solid #e1e2e4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .pclist div.title div:nth-child(1) {
  background-color: #eaedf2;
}

body .pclist div.title div:nth-child(1) span {
  position: absolute;
  padding: 5px;
}

body .pclist div.title div:nth-child(1) span:nth-child(1) {
  top: 0;
  right: 0;
}

body .pclist div.title div:nth-child(1) span:nth-child(2) {
  bottom: 0;
  left: 0;
}

body .pclist div.table {
  position: relative;
  overflow: hidden;
}

body .pclist div.table table {
  position: relative;
  width: 100%;
}

body .pclist div.table:hover > .TB {
  opacity: 1;
}

body .pclist div.table .TB {
  visibility: hidden;
  position: absolute;
  background-color: #ababab;
  top: 50%;
  height: 45px;
  width: 20px;
  opacity: 0.54;
  color: #ffffff;
  font-weight: 1000;
}

@media screen and (max-width: 980px) {
  body .pclist div.table .TB {
    visibility: visible;
  }
}

body .pclist div.table .R_B {
  right: 1px;
}

body .pclist div.table .L_B {
  left: 0px;
}

body .pclist div.table .Listblock {
  position: relative;
  display: -webkit-box;
  width: 100%;
}

body .pclist div.table .Listblock > div {
  position: relative;
  height: 70px;
  border-bottom: 1px solid #e1e2e4;
  border-right: 1px solid #e1e2e4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .pclist div.table .Listblock > div.space1 {
  width: 100%;
}

body .pclist div.table .Listblock > div.space2 {
  width: 50%;
}

body .pclist div.table .Listblock > div.space3 {
  width: 33.33333%;
}

body .pclist div.table .Listblock > div.space4 {
  width: 25%;
}

body .pclist div.table .Listblock > div.space5 {
  width: 20%;
}

body .pclist div.table .Listblock > div.space6 {
  width: 16.66667%;
}

body .pclist div.table .Listblock > div.space7 {
  width: 14.28571%;
}

body .pclist th {
  padding: 0%;
}

body .pclist th > .Listblock > div {
  background-color: #eaedf2;
  font-weight: normal;
}

body .pclist b {
  font-size: 15px;
  font-weight: normal;
  color: #24a07c;
  float: right;
}

body .pclist td > .Listblock > div {
  background-color: #ffffff;
  cursor: pointer;
}

body .pclist td > .Listblock > div p {
  color: #999999;
  display: inline;
}

body .pclist td > .Listblock > div.col_row {
  background-color: #f5f5f5;
}

body .pclist td > .Listblock > div.sale:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-color: #ff8f27 transparent transparent;
  border-style: solid;
  border-width: 20px 20px 0 0;
  top: 0px;
  left: 0px;
}

body .pclist td > .Listblock > div.sale:after {
  content: attr(data-title);
  position: absolute;
  top: 0px;
  left: 20px;
  height: 20px;
  color: #ff8f27;
  font-size: 14px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .pclist td > .Listblock > div:hover, body .pclist td > .Listblock > div.select {
  background-color: #fff9e3;
  border: 1px solid #ff8f27;
}

body .pclist th, body .pclist td {
  ransition-duration: 0s;
}
/*# sourceMappingURL=css.css.map */